

  <div class="productsList">
    <div class="container">
    <div class="row">        
      <div class="card" style="width:14rem"  fxFlexAlign="stretch" *ngFor="let product of products">
          <img class="card-img-top" [src]="product.image" alt="Card image cap">
        
            <div class="card-body">
                <h5 class="card-title" >{{product.name}} </h5>
                <p>price: {{product.price}} NIS</p>
                <p>quantity: {{product.quantity}} NIS</p>
                <div class="thumbnail"><button (click)="minusOneItem(cartItem.id,cartItem.quantity)"> <a class="close">-</a></button>
                  <button (click)="addOneItem(cartItem.id)"> <a class="close">+</a></button>
                  </div>
                <button class="btn btn-primary" (click)="addToCart(product.id)">Add To Cart</button>
                
              </div>
            </div> 
      </div>
      </div>

    </div>
 